<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	
	<!-- 导入redis.properties -->
	<bean id="propertyConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:redis.properties"/>
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
	</bean>
	
	<!-- <context:property-placeholder location="classpath:redis.properties" /> -->
	
	<!-- redis数据源 -->
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<!-- 定义最大连接数 -->
		<property name="maxTotal" value="${redis.maxTotal}"/>
		<!-- 定义最大空闲连接数 -->
		<property name="maxIdle" value="${redis.maxIdle}"/>
		<!-- 定义最长等待时间 -->
		<property name="maxWaitMillis" value="${redis.maxWaitMillis}"/>
		<!-- 在获取连接时检查是否有效性 -->
		<property name="testOnBorrow" value="${redis.testOnBorrow}"/>
	</bean>
	
	<!-- redis连接池 -->
	<bean id="jedisPool" class="redis.clients.jedis.JedisPool" destroy-method="destroy" depends-on="poolConfig">
		<!-- redis主机ip -->
		<constructor-arg name="host" value="${redis.host}"/>
		<!-- redis端口 -->
		<constructor-arg name="port" value="${redis.port}"/>
		<!-- 加载JedisPool配置信息 -->
		<constructor-arg name="poolConfig" ref="poolConfig"/>
	</bean>
</beans>