<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyl.manager.repository.hotel.HotelCudMapper">

    <insert id="insertHotel" parameterType="com.yyl.entity.Hotel">
        insert into hotel(
                        hName,
                        sPrice,
                        sId,
                        hGrage,
                        hContent
                        )
        values(
                     #{hName},
                    #{sPrice},
                     #{sId},
                     #{hGrage},
                    #{hContent}
                    )
    </insert>

    <update id="updateHotel" parameterType="com.yyl.entity.Hotel">
        update hotel
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                    <if test="id != null and id!=''">
                        id=#{id},
                    </if>
                    <if test="hName != null and hName!=''">
                        hName=#{hName},
                    </if>
                    <if test="sPrice != null and sPrice!=''">
                    	sPrice=#{sPrice}
                	</if>
                    <if test="sId != null and sId!=''">
                        sId=#{sId},
                    </if>
                    <if test="hGrage != null and hGrage!=''">
                        hGrage=#{hGrage},
                    </if>
                    <if test="hContent != null and hContent!=''">
                        hContent=#{hContent}
                    </if>
        </trim>
    </update>

    <delete id="deleteHotelById" parameterType="Integer">
        delete from hotel where id = #{id}
    </delete>
</mapper>
