<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyl.scenicarea.repository.scenicspot.ScenicspotQueryMapper">

    <select id="getScenicspotById" resultType="com.yyl.entity.Scenicspot" >
        select
                id as id,
                sName as sName,
                sCity as sCity,
                sRegion as sRegion,
                sContent as sContent,
                sPrice as sPrice,
                sPubTime as sPubTime,
                sCollectionNum as sCollectionNum,
                sStatus as sStatus
        from scenicspot
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getScenicspotListByMap" resultType="com.yyl.entity.Scenicspot" parameterType="java.util.Map">
        select
                id as id,
                sName as sName,
                sCity as sCity,
                sRegion as sRegion,
                sContent as sContent,
                sPrice as sPrice,
                sPubTime as sPubTime,
                sCollectionNum as sCollectionNum,
                sStatus as sStatus
        from scenicspot 
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="id != null and id!=''">
                        and id=#{id}
                    </if>
                    <if test="sName != null and sName!=''">
                        and sName=#{sName}
                    </if>
                    <if test="sCity != null and sCity!=''">
                        and sCity=#{sCity}
                    </if>
                    <if test="sRegion != null and sRegion!=''">
                        and sRegion=#{sRegion}
                    </if>
                    <if test="sContent != null and sContent!=''">
                        and sContent=#{sContent}
                    </if>
                    <if test="sPrice != null and sPrice!=''">
                        and sPrice=#{sPrice}
                    </if>
                    <if test="sPubTime != null and sPubTime!=''">
                        and sPubTime=#{sPubTime}
                    </if>
                    <if test="sCollectionNum != null and sCollectionNum!=''">
                        and sCollectionNum=#{sCollectionNum}
                    </if>
                    <if test="sStatus != null and sStatus!=''">
                        and sStatus=#{sStatus}
                    </if>
        </trim>
        order by sPubTime desc
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="getScenicspotCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from scenicspot
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="sName != null and sName!=''">
                    and sName=#{sName}
                </if>
                <if test="sCity != null and sCity!=''">
                    and sCity=#{sCity}
                </if>
                <if test="sRegion != null and sRegion!=''">
                    and sRegion=#{sRegion}
                </if>
                <if test="sContent != null and sContent!=''">
                    and sContent=#{sContent}
                </if>
                <if test="sPrice != null and sPrice!=''">
                    and sPrice=#{sPrice}
                </if>
                <if test="sPubTime != null and sPubTime!=''">
                    and sPubTime=#{sPubTime}
                </if>
                <if test="sCollectionNum != null and sCollectionNum!=''">
                    and sCollectionNum=#{sCollectionNum}
                </if>
                <if test="sStatus != null and sStatus!=''">
                    and sStatus=#{sStatus}
                </if>
        </trim>
    </select>
    
    <!-- 查询景点图片 -->
    <select id="findScenicspotPictureByPTypeId" parameterType="Integer" resultType="Picture">
    	SELECT p.id,p.pRelativePath,p.pTypeId FROM picture p,scenicspot s WHERE p.pTypeId=s.id AND p.pType=2 AND p.pTypeId=#{pTypeId}
    </select>
    
    
    <!-- 查询景点详情信息And图片 -->
    <select id="findScenPicAll" resultType="Scenicspot">
    	SELECT p.`pRelativePath`,s.id,s.sName,s.sContent,s.sRegion,s.sPrice,s.sStatus FROM scenicspot s,picture p WHERE s.id=p.pTypeId AND pType=2
    	AND (s.`sStatus`=1 OR s.`sStatus`=3)
		GROUP BY sName 
    </select>
    
    <select id="findScenicspotBySRegion" parameterType="Map" resultType="Scenicspot">
    	SELECT s.*,p.`pTypeId`,p.`pRelativePath` FROM scenicspot s,picture p WHERE s.id=p.pTypeId AND p.pType=2 
    	AND (s.`sStatus`=1 OR s.`sStatus`=3)
    	<if test="sRegion!=null and sRegion!=''">
            AND s.sRegion=#{sRegion}
        </if>
        group by s.sName
	    <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>
    
    <select id="getScenicspotCountBySRegion" parameterType="java.util.Map" resultType="Integer">
    	SELECT count(*) FROM scenicspot s
    	where (s.`sStatus`=1 OR s.`sStatus`=3)
       	<if test="sRegion!=null and sRegion!=''">
            AND s.sRegion=#{sRegion}
        </if>
    </select>
    
    <select id="findScenCollectionOrderByDesc" resultType="Scenicspot">
    	SELECT s.sName,s.sCity,s.sContent,s.sPrice,s.sCollectionNum,p.pTypeId,p.`pRelativePath` FROM scenicspot s,picture p 
    	WHERE s.id=p.pTypeId AND p.pType=2 
    	AND (s.`sStatus`=1 OR s.`sStatus`=3)
 		GROUP BY s.sName ORDER BY s.sCollectionNum DESC LIMIT 0,10
    </select>
    
    <!-- 人气旅游 -->
    <select id="findPopularTourism" resultType="Scenicspot">
    	SELECT s.*,p.`pTypeId`,p.`pRelativePath`  FROM scenicspot s,picture p WHERE s.id=p.pTypeId AND p.pType=2
		AND (s.`sStatus`=1 OR s.`sStatus`=3)
		GROUP BY s.`sName` ORDER BY s.sCollectionNum DESC LIMIT 0,4	
    </select>
    
    <!-- 最新旅游 -->
    <select id="findNewestTourism" resultType="Scenicspot">
    	SELECT s.*,p.`pTypeId`,p.`pRelativePath`  FROM scenicspot s,picture p WHERE s.id=p.pTypeId AND p.pType=2
		AND (s.`sStatus`=1 OR s.`sStatus`=3)
		GROUP BY s.`sName` ORDER BY s.sPubTime DESC LIMIT 0,4
    </select>
    
    <!-- 主题旅游 -->
    <select id="findThemeTourism" resultType="Scenicspot">
    	SELECT s.*,p.`pTypeId`,p.`pRelativePath`  FROM scenicspot s,picture p WHERE s.id=p.pTypeId AND p.pType=2
 		AND (s.`sStatus`=1 OR s.`sStatus`=3)
 		AND s.sCity =#{sCity}
 		GROUP BY s.sName
    </select>
    
    <!-- 查询索引库 -->
    <select id="findScenInfo" resultType="sceninfo">
    	SELECT s.id,s.sName,s.sCity,s.sContent,s.sPrice,p.id AS pid,p.pRelativePath 
			FROM scenicspot s,picture p WHERE s.id=p.`pTypeId` AND p.`pType`=2 GROUP BY s.sName
    </select>
</mapper>
