<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyl.repository.line.LineQueryMapper">

    <select id="getLineById" resultType="com.yyl.entity.Line" >
        select
                id as id,
                sId as sId,
                lName as lName,
                lContent as lContent
        from line
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getLineListByMap" resultType="com.yyl.entity.Line" parameterType="java.util.Map">
        select
                id as id,
                sId as sId,
                lName as lName,
                lContent as lContent
        from line
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="id != null and id!=''">
                        and id=#{id}
                    </if>
                    <if test="sId != null and sId!=''">
                        and sId=#{sId}
                    </if>
                    <if test="lName != null and lName!=''">
                        and lName=#{lName}
                    </if>
                    <if test="lContent != null and lContent!=''">
                        and lContent=#{lContent}
                    </if>
        </trim>
         order by createDate desc
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="getLineCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from line
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="sId != null and sId!=''">
                    and sId=#{sId}
                </if>
                <if test="lName != null and lName!=''">
                    and lName=#{lName}
                </if>
                <if test="lContent != null and lContent!=''">
                    and lContent=#{lContent}
                </if>
        </trim>
    </select>
</mapper>
