<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyl.scenicarea.repository.hotel.HotelQueryMapper">

    <select id="getHotelById" resultType="com.yyl.entity.Hotel" >
        select
                id as id,
                hName as hName,
                sId as sId,
                hGrage as hGrage,
                hContent as hContent
        from hotel
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getHotelListByMap" resultType="com.yyl.entity.Hotel" parameterType="java.util.Map">
        select
                id as id,
                hName as hName,
                sId as sId,
                hGrage as hGrage,
                hContent as hContent
        from hotel
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="id != null and id!=''">
                        and id=#{id}
                    </if>
                    <if test="hName != null and hName!=''">
                        and hName=#{hName}
                    </if>
                    <if test="hPirce != null and hPirce!=''">
                        and hPirce=#{hPirce}
                    </if>
                    <if test="sId != null and sId!=''">
                        and sId=#{sId}
                    </if>
                    <if test="hGrage != null and hGrage!=''">
                        and hGrage=#{hGrage}
                    </if>
                    <if test="hContent != null and hContent!=''">
                        and hContent=#{hContent}
                    </if>
        </trim>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="getHotelCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from hotel
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="hName != null and hName!=''">
                    and hName=#{hName}
                </if>
                <if test="hPirce != null and hPirce!=''">
                    and hPirce=#{hPirce}
                </if>
                <if test="sId != null and sId!=''">
                    and sId=#{sId}
                </if>
                <if test="hGrage != null and hGrage!=''">
                    and hGrage=#{hGrage}
                </if>
                <if test="hContent != null and hContent!=''">
                    and hContent=#{hContent}
                </if>
        </trim>
    </select>
    
    <!-- 根据酒店id查询酒店图片 -->
    <select id="findHotelPictureByPTypeId" parameterType="Integer" resultType="Picture">
    	SELECT p.id,p.pRelativePath FROM picture p,hotel h WHERE p.pTypeId=h.id AND p.pType=3 AND 
    		p.pTypeId in 
    		<foreach collection="list" item="pTypeId" index="index" open="(" separator="," close=")">
    			#{pTypeId}
    		</foreach>
    	
    </select>
</mapper>
